@use '/src/scss/angular-material-theme' as theme;
@use '/src/scss/colors';

mat-card {
  box-sizing: border-box;
  background-color: theme.$dark-focused;
  height: 100%;
  padding: 10px;
}

h2,
dt {
  color: colors.$primary;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}
