<button
  mat-icon-button
  mat-dialog-close
  aria-label="Fechar"
>
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Política de Uso</h1>
<section mat-dialog-content>
  <p>
    Bem-vindo! Obrigado por utilizar o KDaPeça, o Catálogo Eletrônico da
    Comercial Automotiva S/A (DPK).
  </p>
  <h2>Apresentação</h2>
  <p>
    O KDaPeça é uma plataforma digital desenvolvida pela DPK.
    <br />
    Para fins da presente Política, as pessoas (físicas ou jurídicas) que
    utilizarem a plataforma são denominadas “Usuários”.
  </p>
  <h2>Descrição da plataforma:</h2>
  <p>
    O KDaPeça tem como finalidade oferecer aos clientes uma plataforma com os
    produtos e serviços oferecidos pela DPK.
    <br />
    O KDaPeça permite aos Usuários o acesso ao portfólio de produtos da DPK, bem
    como o serviço de precificação da mercadoria, ou seja, proporciona ao
    Usuário realizar o controle da margem de lucro dos produtos oferecidos aos
    seus clientes.
    <br />
    Também oferece a possibilidade de confecção de orçamentos personalizados
    para o cliente final e traz recursos com informações sobre o relacionamento
    entre a DPK e cliente ( histórico de pedidos, pontuação DPKlub entre outras)
  </p>
  <h2>Elegibilidade para o Serviço</h2>
  <p>
    Para utilizar o KDaPeça, o Usuário deverá confirma que: - é um cliente
    cadastrado e ativo na Comercial Automotiva S/A e concorda com todos os
    termos de uso.
    <br />
    A plataforma é gratuita e será liberada mediante contato com nossa equipe
    através do telefone (19) 3728-8406
    <br />
    <br />
    <strong>Aviso e entrega de mensagens</strong>
    <br />
    O usuário concorda com as seguintes formas de fornecimento de aviso: (1)
    Banners de aviso e propagandas no Serviço ou (2) e-mails enviados para o
    endereço fornecido no cadastro ou ( 3) por outros meios, inclusive telefone
    celular, telefone fixo ou correio. O usuário concorda em manter as suas
    informações de contato atualizadas.
  </p>
  <h2>Funcionalidades da Plataforma:</h2>
  <p>
    <em>A plataforma permitirá que o Usuário:</em>
    <br />
    Consulte preços, disponibilidade, aplicação e conversão de todo o portfólio
    da DPK;
    <br />
    Converta itens que a DPK não trabalha para itens que estão em seu portfólio
    <br />
    Utilize o sistema como ferramenta de compras
    <br />
    Salve pedidos para finalizar posteriormente
    <br />
    Consulte histórico de compras na DPK
    <br />
    Refaça pedidos com nota fiscal já emitida
    <br />
    Acesse a chave de acesso a NF-e
    <br />
    Utilize o catálogo como ferramenta de vendas, configurando a margem de lucro
    desejada
    <br />
    Utilize o catálogo para gerar orçamentos personalizados para seus clientes
    <br />
    Acesse promoções, lançamentos e novidades da DPK
    <br />
    Consulte a pontuação no DPKlub
    <br />
    Altere suas senhas de acesso – Perfil admin e perfil loja - sempre que
    desejar
  </p>
  <h2>Disposições Gerais</h2>
  <p>
    Os pedidos são de responsabilidade do cliente e eventuais devoluções e
    cancelamentos serão previamente analisadas.
    <br />
    A DPK não possui responsabilidade sobre a margem de lucro cadastrada.
    <br />
    Todas as ofertas estão sujeitas à quantidade em estoque.
    <br />
    As fotos apresentadas na plataforma são meramente ilustrativas
    <br />
    Em caso de esquecimento de senha a equipe de vendas deverá ser acionada
    através do número (19) 3728-8406 ou ser solicitada pelo "esqueci minha senha
    na tela de login"
    <br />
    A referida Plataforma permanecerá disponível por 03 meses sem efetuar
    nenhuma compra ou enquanto o cliente não solicitar seu bloqueio.
  </p>
  <p>
    Caso o Usuário queira interromper a utilização da plataforma, deverá
    comunicar a DPK através do número (19) 3728-8406, sendo seu bloqueio
    gratuito.
  </p>
  <p>
    O KDaPeça poderá, a qualquer momento, ser alterado ou deixar de ser
    comercializado mediante comunicação prévia pela DPK aos Usuários que a ele
    aderirem, com antecedência mínima de 30 (trinta) dias.
  </p>
</section>
