.item_produto {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'img titulo quantidade';
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  & + & {
    border-top: none;
  }
}

figure {
  grid-area: img;
  margin: auto;
}

header {
  grid-area: titulo;
  h2 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

.quantidade {
  grid-area: quantidade;
  display: grid;
  justify-items: center;
}
