<!-- <button (click)="viewCDByProduct()">Ver mais estoque</button>
<button (click)="navigateToSimilarProducts()">Produtos similares</button>
<button (click)="addProductToCart()">Adicionar produto ao carrinho</button>
<button (click)="addProductToAlert()">Avise-me quando chegar</button>
<button (click)="navigateToProduct()">Ir para o produto</button>
<button (click)="viewProductPrice()">Ver preço</button>
<fieldset>
  <legend>Produtos</legend>
  <button (click)="addProductToBookmarks()">
    Adicionar produto aos favoritos
  </button>
  <button (click)="removeProductFromBookmarks()">
    Remover produto dos favoritos
  </button>
  <button (click)="checkProductOnBookmarks()">
    Checar se o produto está nos favoritos
  </button>
</fieldset> -->
<fieldset>
  <legend>Formulário da PayZen</legend>
  <app-form-pay-zen
    [valor]="200"
    cartId="86f5aa47-5e9e-400b-25a1-08db09015d18"
  ></app-form-pay-zen>
</fieldset>
