@use '/src/scss/colors';

[mat-dialog-close] {
  float: right;
  margin-top: -0.25rem;
  margin-left: 1rem;
}

h1 {
  color: colors.$primary;
}

section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 960px) {
    min-width: 600px;
  }

  mat-form-field {
    width: 100%;

    @media (min-width: 960px) {
      width: 50%;
    }
  }
  mat-form-field[floatLabel='always'] {
    width: 100%;
  }
}
