section {
  display: grid;
  gap: 1rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.kdp-favorito-vazio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
