<ng-container *ngIf="isLoading$ | async; else notificacoesSection">
  <mat-progress-bar
    color="primary"
    mode="indeterminate"
  ></mat-progress-bar>
</ng-container>
<ng-template #notificacoesSection>
  <ng-template #semNotificacao>
    <div class="sem-notificacao">
      <h1>Você não possui notificações!</h1>
      <a
        mat-flat-button
        color="primary"
        routerLink="/"
      >
        Ir para as compras
      </a>
    </div>
  </ng-template>

  <ng-container
    *ngIf="notificacoes && notificacoes.length > 0; else semNotificacao"
  >
    <mat-card
      *ngFor="let notificacao of notificacoesPorPagina"
      [style.background-color]="notificacao.readAt === null ? '' : '#eee'"
    >
      <app-notificacao-card [notificacao]="notificacao"></app-notificacao-card>
    </mat-card>

    <mat-paginator
      (page)="mudarPagina($event)"
      [length]="length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      [pageIndex]="pageIndex"
      aria-label="Selecionar página"
    >
    </mat-paginator>
  </ng-container>
</ng-template>
