<a
  mat-stroked-button
  color="primary"
  [routerLink]="[pedido.id]"
  *ngIf="!detalhe && pedido && pedido.statusId !== 17"
>
  Ver detalhes
</a>
<a
  *ngIf="pedido?.statusId === 9"
  mat-stroked-button
  color="primary"
  target="_blank"
  href="https://painel.itrackbrasil.com.br/#/sac/dpk/result?nroFiscal= + {{
    pedido.orderPayments?.invoiceNumber
  }}"
>
  Rastrear pedido
</a>
<button
  *ngIf="pedido?.statusId === 14"
  mat-raised-button
  color="primary"
  (click)="pagarPedido()"
>
  Pagar
</button>
