@use '/src/scss/helpers';

.search-filter {
  width: 100%;
  margin: 0 auto;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.div-placa {
  width: 100%;
  position: relative;
  right: 3rem;
}

.input-placa {
  @media (max-width: 400px) {
    width: 60%;
  }
  @media (max-width: 412px) {
    width: 50%;
  }
  width: 30%;
  border-radius: 0px 20px 20px 0px;
  padding: 15px 40px 15px 15px;
  box-sizing: border-box;
  font-size: 13.12px;
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 44px;
  outline: none !important;
  box-shadow: none !important;
}

.icon-placa {
  position: absolute;
  color: #717171 !important;
  transform: translateY(5%);
  cursor: pointer;
  right: 1rem;
}

.filter {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  font-size: 13.12px;
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px 0px 20px;
  padding: 15px 40px 15px 15px;
  outline: none !important;
  box-shadow: none !important;
}

.search-icon {
  @media (max-width: 400px) {
    display: none;
  }
  @media (max-width: 412px) {
    display: none;
  }
  color: #717171 !important;
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.clear-icon {
  @media (max-width: 400px) {
    display: none;
  }
  @media (max-width: 412px) {
    display: none;
  }
  color: #717171 !important;
  position: absolute;
  right: 5%;
  cursor: pointer;
}
